@{
    ViewData["Title"] = "Home page description";
}
<h1>@ViewData["Title"]</h1>

<p>On the home page, you can see a toolbar at the top with which you can navigate through web pages, you can also choose a currency, find login boxes, and when you find the product you want, you can put it in the cart and pay for it.</p>