@model User
@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Account";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="min-height:1000px">
    <h1>Account</h1>

    @if (Model == null)
    {
        <p>Your haven't logged in</p>
    }
    else
    {
        <p>Logged in as: @Model.UserName</p>
        <form method="post" action="/Login/Logout">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>

    }
</body>
</html>
