@{
    ViewData["Title"] = "Our contacts";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Edvinas Ralys edvinas.ralys@ktu.edu</li>
    <li>Ugnius Spaičys ugnius.spaicys@ktu.edu</li>
    <li>Vytautas Jaras vytautas.jaras@ktu.edu</li>
    <li>Aleksas Juzukonis aleksas.juzukonis@ktu.edu</li>
</ul>
<p>You can contact us via this email: ElectricAvenue@gmail.com </p>
