@{
    ViewData["Title"] = "Create Item";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
<form action="@Url.Action("CreationForm")">

    <select name="SelectedType">
        <option value="">Select a device type</option>
        @foreach (Type type in Model)
        {
            <option value="@type.FullName">@type.Name</option>
        }
    </select>

    <button type="submit">Submit</button>

</form>
</div>