header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 0 0;
}

.currency-bar {
    background-color: royalblue;
    padding: 5px 150px 5px 0px;
    text-align: right;
    border-bottom-color: lightblue;

}

.logo-bar {
    padding: 20px 0;
    background-color: royalblue;

}
.nav-item {
    font-size: 26px;
    margin: 0 10px;
    color: black;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

}
.container-new {
    max-width: 100%; 
    margin: 0 auto; 
}
.nav-link-black-small {
    color: rgba(0, 0, 0, 0.8);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.15s ease-in-out;
}
.nav-link-black-small:hover {
    color: rgba(0, 0, 0, 1);
    transition: color 0.15s ease-in-out;
}

.nav-link-black {
    color: rgba(0, 0, 0, 0.8);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
    transition: color 0.15s ease-in-out;
}

    .nav-link-black:hover {
        color: rgba(0, 0, 0, 1);
        transition: color 0.15s ease-in-out;
    }


.menu-bar {
    background-color: #f7f7f7;
}


.currency-table .form-select {
    width: 120px;
    margin: 0 25px;
}
.currency-table select {
    height: 100%;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.logo {
    max-width: 400px;
    height: auto;
    margin-top:auto;
    border-radius:15px;
    margin-left:40px;
}
.logo2 {
    width: 50px;
    height: 50px; 
    margin-left: 20px;
}


.currency-table {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 20px;
}


.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

    .search-form input {
        flex-grow: 1;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
    }

@media (max-width: 768px) {
    .logo-bar .col:first-child {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .logo-bar .col:last-child {
        flex-basis: 100%;
    }
}


.MyDropTable {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: -10px 0px;
}


    .MyDropTable th {
        text-align: center;
        padding: 8px;
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;
        border-right: none;
        border-right: 1px solid #ddd;
    }


    .MyDropTable td {
        text-align: center;
        padding: 8px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }


        .MyDropTable td:last-child,
        .MyDropTable th:last-child {
            border-right: 1px solid #ddd;
        }

#selected-currency-label {
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 140px;
    background-color: royalblue;
    position: relative; /* Add position:relative */
}

    .firstLine::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background-image: linear-gradient(to right, royalblue, white); 
    }

.box1 {
    order: 1;
}
.box2{
    order:2;
}
.box3 {
    order: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.accAndCart {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    position:relative;
}

    .accAndCart > div:not(:last-child) {
        margin-right: 15px;
    }

    .accAndCart > div:last-child {
        margin-right: 50px;
    }
.Search {
    margin-left: 50px;
    margin-top: 10px;
}
#search-box.form-control{
    border-radius:5px;
}

#currency-form,
#search-form {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}

    #currency-form:hover,
    #search-form:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
#currency-form{
    margin-top:10px;
}

